@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Merriweather+Sans:wght@300&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
    height: 100%;
}

ul {
    list-style-type: none;
}

header {
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
}



.btn-success {
    background-color: #1B512D;
}

.btn-light {
    background-color: #ffffff;
}

.vert-pomme {
    background-color: #B1CF5F;
    border-color: #B1CF5F;
}

/* FONTS */
h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.titre1 {}

.titre {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

.titre2 {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 700;
}

.soustitre {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    font-weight: 600;
}

.soustitre2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

p,
.paragraphe {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.accent,
.btn-success {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

@media (min-width: 992px) {
    /* toutes les pages */
    /* FONT */

    h1 {
        font-size: 40px;
    }

    .titre {
        font-size: 30px;
        text-transform: uppercase;
    }

    .titre2 {
        font-size: 24px;
        text-transform: uppercase;
    }

    .soustitre {
        font-size: 18px;
    }

    .sousitre2 {
        font-size: 18px;
    }

    p,
    .paragraphe {
        font-size: 14px;
        line-height: 27px;
        /* 168.75% */
        letter-spacing: 0.48px;
    }

    .accent,
    .btn-success {
        font-size: 14px;
    }
}

/* FIN DES FONTS */

section {
    padding: 4% 2%;
    display: grid;
}

/* NAVBAR */
.navbar-brand {
    width: 70%;
}

.navbar {
    background-color: #fff;
}

.navbar .container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    width: 45%;
    height: auto;
    display: block;
}

.float-login {
    flex-direction: column-reverse;
    align-items: flex-start;
}

.float-login span {
    display: none;
}

.float-login .nav-link {
    padding: 0 2%;
}

@media (min-width: 992px) {
    .navbar-brand {
        width: auto;
    }

    .navbar .container {
        margin: 0;
        padding: 0;
    }

    .navbar-brand img {
        width: 30%;
    }

    ul {
        list-style: none;
    }

    #navbarSupportedContent {
        justify-content: space-between;
    }

    .float-login {
        flex-direction: row;
        margin-right: 1%;
    }

    .float-login .btn {
        align-self: center;
    }

    .float-login span {
        display: block;
    }

    .float-login .nav-link {
        justify-items: center;
    }

    .float-login .connected{
        justify-items: center;
    }



    /* .dropdown-toggle::after {
        display: none;
    } */
}

/* FIN NAVBAR */
/* FOOTER */

footer {
    background-color: #8a817cb9;
}

footer a {
    color: #000000;
}

footer .img-wrapper {
    height: 4rem;
}

.footer-links img {
    height: 3rem;
}

.SocialMedia li {
    margin: 2% 0;
}

footer .titre2 {
    color: #1B512D;
}

@media (min-width: 768px) {
    section {
        padding: 1% 10% 3%;
    }

    /* footer */
    footer {
        display: flex;
    }

    .footer-links {
        display: flex;
    }

    .containerfooter {
        flex: 40% 0 0;
    }

    .footer-logo {
        width: 110%;
        object-fit: scale-down;
    }

    footer .img-wrapper {
        height: 7rem;
    }

    footer ul:last-child {
        text-align: center;
    }

    /* FIN FOOTER */
}

/* HEADER filtre*/
.filtre {
    padding: 4% 2%;
}

.supp {
    display: none;
}

/* HEADER connecte */
.serveurSection {
    background-image: url(images/neonlight.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10%;
    box-shadow: 0px 1440px 4px 0px rgba(217, 217, 217, 0.49) inset;
}

@media (min-width: 768px) {
    .supp {
        display: grid;
    }
}

/* FIN HEADER */

/* INDEX */
/* Index Card Carousel */
/* #features{
    display: grid;
}
#carouselAutoplaying {
    width: 95%;
    justify-self: center;
} */
.prev-icon{
    color: #000000;
}
.card-carousel {
    position: relative;
    border: none;
    border-radius: 3%;
}

.card-carousel .img-wrapper,
.card-carousel img {
    width: 100%;
    height: 25rem;
    border-radius: 3%;
}

.carousel-card-body {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFFFFFB5;
}

/* Gros caroussel des circuits */
#carouselDark .carousel-img-wrapper {
    height: 21rem;
}

.autour {
    padding: 4%;
    background-color: #FFFFFFB5;
    border-radius: 0.65rem;
}

.autour .soustitre {
    margin-bottom: 0;
}

#carouselDark .position {
    display: grid;
    justify-items: center;
    position: absolute;
    bottom: 4%;
    left: 40%;
}

/* TEXT SUR MESURE */
.rectangle {
    width: 100%;
}

.rectangle img {
    width: 100%;
}

#sur-mesure span,
#sur-mesure b,
#sur-mesure .btn {
    display: none;
}

/* WHY US */
.why-us {
    text-align: center;
    margin-top: 10%;
}

.why-us-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 6% 0;
}

@media (min-width: 768px) {

    /* Index Card Carousel */
    #features {
        position: relative;
    }

    #carouselAutoplaying {
        position: static;
        padding-left: 4%;
        width: 95%;
        justify-self: center;
    }

    .card-carousel-inner {
        display: flex;
        overflow: hidden;
        justify-content: space-between;
    }

    .card-carousel-item {
        margin-right: 0;
        flex: 0 0 29%;
        display: block;
    }


    .card-carousel {
        position: relative;
        border-top-right-radius: 40%;
        border-top-left-radius: 40%;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
    }

    .card-carousel .img-wrapper,
    .card-carousel img {
        width: 100%;
        height: 29vw;
        border-radius: inherit;
    }

    /* Gros caroussel des circuits */
    #carouselDark .carousel-img-wrapper {
        max-width: 100%;
        height: 35vw;
    }

    #carouselDark .carousel-caption {
        position: absolute;
        top: 3%;
        left: 66%;
        width: 30%;
    }

    .autour {
        padding: 4%;
        background-color: #FFFFFFB5;
        border-radius: 0.65rem;
    }

    .autour .soustitre {
        margin-bottom: 0;
    }

    #carouselDark .position {
        position: absolute;
        bottom: 10%;
        left: 6%;
        padding: 1.8% 2.5%;
    }

    /* TEXT SUR MESURE */
    #sur-mesure {
        display: flex;
        gap: 3%;
        margin-left: 2%;
    }

    #sur-mesure .rectangle {
        width: 100%;
        flex: 35% 0;
        position: relative;
        background-color: #1B512D;
        margin-top: 3%;
    }

    #sur-mesure .rectangle img {
        width: 95%;
        height: 100%;
        position: absolute;
        top: -10%;
        left: -5%;
        border: solid 1px #000000;
    }

    #sur-mesure .text {
        flex: 65% 0;
    }

    #sur-mesure p {
        white-space: pre-line;
        margin-bottom: 0;
    }

    #sur-mesure b {
        font-weight: bold;
    }

    #sur-mesure .btn {
        display: block;
    }

    .why-us {
        text-align: center;
        margin-top: 4%;
    }

    .why-us-item {
        padding: 0;
        display: block;
    }

    .why-us-items {
        display: flex;
        justify-content: center;
        gap: 5%;
        margin: 2% 15%;
        padding-top: 2%;
        border: solid 1px #000000;
    }

    .icon-wrapper {}
}

@media (min-width : 992px) {

    #sur-mesure span,
    #sur-mesure b {
        display: block;
    }
}

/* END INDEX STYLES */

/* CIRCUIT DISPLAY  */
.img-presentation,
#Circuit .carousel-item {
    height: 13rem;
}

.presentation {
    padding: 0 2%;
}

@media (min-width: 768px) {
    .presentation {
        padding: 3% 10%;
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    .etape-display {
        height: 100%;
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    #Circuit .carousel-item, .img-presentation {
        height: 100%;
        width: 100%
    }

    .img-presentation img {
        width: 100%;
    }

    .txt-presentation {
        text-align: justify;
    }

    .flex-bouton {
        text-align: center;
    }
}

/* END CIRCUIT DISPLAY */
/* PAGE DESTINATION */
.flex-text {
    display: flex;
    justify-content: space-between;
}

.circuit-card {
    margin-top: 3%;
}

.circuit-card .img-wrapper {
    height: 23rem;
}

.circuit-card form button {
    background-color: #ffffff00;
}

.circuit-card form {
    margin: 0;
}

.circuit-card .card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFFB5;
    text-align: center;
    padding: 2%;
    display: flex;
    align-items: center;
}

.circuit-card .card-body .card-text {
    display: flex;
    align-items: center;
    gap: 0%;
    text-align: left;
}

.circuit-card .card-text p {
    margin: 0;
}

.fa-heart {
    font-size: 150%;
}

.fa-heart.active {
    font-size: 180%;
    color: #ff0000;
}

.flex-bouton {
    padding: 7%;
    background-color: #EFEFEF;
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-template-columns: 85% 15%;
    margin-bottom: 4%;
}

.flex-bouton i {
    font-size: 300%;
}

.flex-bouton .btn {
    justify-self: center;
}

@media (min-width: 768px) {

    /*PAGE DESTINATION */
    .flex-text {
        margin-bottom: 1%;
    }

    /* CIRCUIT CARDS */
    .circuit-card {
        flex: 0 0 31%;
        margin: 0;
    }

    .circuit-card .img-wrapper {
        height: 23vw;
    }

    .circuit-card .card-body {
        text-align: center;
        padding: 2%;
        display: block;
    }

    .circuit-card .card-body .card-text {
        justify-content: space-between;
        gap: 1%;
        height: 4rem;
    }

    .circuit-card .card-text p,
    .circuit-card .card-text h3 {
        margin: 0;
        line-height: 110%;
    }

    .flex-bouton {
        padding: 3%;
        background-color: #EFEFEF;
    }

    .flex-bouton .btn-success {
        padding: 1%;
    }

    .flex-bouton i {
        font-size: 350%;
    }

    /* END CIRCUIT CARDS*/
    /* GESTION */

    .serveur-section {
        padding: 0% 9% 2%;
    }

    .nav-tabs {
        display: flex;
        justify-content: center;
        margin: 1% 9% 0;
        border-color: #B1CF5F;
    }

    /* FORMULAIRE DE MODIFICATION */
    /* .update-edit{
position: absolute;
left: 45%;
} */
    /*GESTION CARDS */

    .card-container {
        display: flex;
        justify-content: flex-start;
        gap: 2%;
        flex-wrap: wrap;
        padding: 1% 0;
    }

    .gestion .img-wrapper {
        text-align: center;
        align-self: center;
        height: 100%;
    }

    .gestion {
        display: grid;
        justify-items: center;
        gap: 1%;
        width: 32%;
        background-color: #fff;
        margin-bottom: 3%;
    }

    /* Card : Gestion specific */

    form.card {
        height: 28vw;
        position: relative;
    }

    form.card.gestion button,
    form.card.gestion a {
        cursor: pointer;
    }

    form.card.gestion button.floating {
        width: 2em;
        height: 2em;

        border-radius: 16px;
        padding: 0;
        float: right;
        position: absolute;
        left: 95%;
        top: -5%;
        border: 0;
    }

    /* form.card-gestion button:last-of-type { */

    form.card.gestion img {
        width: 100%;
    }

    section.card-container #AddNewIcon {
        width: 50%;
        border: 1px solid #000;
        border-radius: 4em;
    }

    form.card.gestion .card-text {
        height: 100%;
        /* width: 100%; */
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form.card.gestion .card-text * {
        margin-bottom: 0.5em;
    }

    #Users {
        padding-left: 6%;
    }

    .fa-circle-xmark {
        font-size: 35px;
    }

    table td:last-child {
        display: flex;
    }
}

@media (max-width: 900px) {
    form.card.gestion button.floating {
        margin: -1.8em 1.5em 0 0;
    }
}
.nav-tabs {
    border-color: #B1CF5F;
}
.nav-tabs .nav-link.active {
    border-top-color: #B1CF5F;
    border-right-color: #B1CF5F;
    border-left-color: #B1CF5F;
}
.tab-pane-content {
    padding: 0 3%;
    border: solid 1.5px #B1CF5F;
}
/* END GESTION */

/* FORMULAIRE D'INSCRIPTION ET DE CONNEXION */
.loginForm {
    display: grid;
    background-color: #8A817C;
    border-radius: 2%;
    width: 95%;
    padding: 10%;
}

.signInForm {
    justify-items: center;
}

.loginForm form {
    display: grid;
    margin: 10%;
}

.loginForm input {
    background-color: #1b512d79;
    border: solid 1px #ffffff;
}

.loginForm .btn-success,
.loginForm p {
    justify-self: center;
    text-align: center;
}

.loginForm .btn-success {
    background-color: #1b512d;
    margin-top: 6%;
}

.loginForm a {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .loginForm {
        width: 40%;
        padding: 4% 8%;
    }

    .loginForm form {
        margin: 7% 0;
    }
}

form.input-group input.form-control {
    border-color: #f8f9fa;
}
/* FIN FORMULAIRE D'INSCRIPTION */

/* FORMULAIRE DE CONTACT */
.contactForms{
    padding: 2% 3%;
}
#Forms{
    padding: 1% 2%;
}