@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Merriweather+Sans:wght@300&display=swap');

footer {
    color: white
}
.vert-pomme{
    background-color: #B1CF5F;
    border-color: #B1CF5F;
}
header{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content :center;
}
/* FONTS */
h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.titre1{
    text-align:left ;
}
.titre {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-weight: 600;
}

.titre2 {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 700;
}

.soustitre {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    font-weight: 600;
}

.soustitre2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

p, .paragraphe {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.accent,
.btn-success {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

@media (min-width: 768px) {
    /* toutes les pages */
    /* FONT */

    h1 {
        font-size: 40px;
        text-transform: uppercase;
    }

    .titre {
        font-size: 30px;
        text-transform: uppercase;
    }

    .titre2 {
        font-size: 24px;
        text-transform: uppercase;
    }

    .soustitre {
        font-size: 18px;
    }

    .sousitre2 {
        font-size: 18px;
    }

    p, .paragraphe {
        font-size: 14px;
        line-height: 27px;
        /* 168.75% */
        letter-spacing: 0.48px;
    }

    .accent,
    .btn-success {
        font-size: 14px;
    }
}
    /* FIN DES FONTS */

    @media (min-width: 768px) {
    img {
        object-fit: cover;
    }

    section {
        padding: 1% 10%;
    }

    /* NAVBAR */
    .navbar {
        background-color: #fff;
    }

    .navbar .container {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    .navbar-brand img {

        width: 25%;
        height: auto;
        display: block;

    }

    .dropdown-toggle::after {
        display: none;
    }

    /* footer */
    footer {
        display: flex;
    }

    .footer {
        display: flex;

    }

    .footer ul {
        list-style-type: none;
    }

    .footer ul:last-child {
        display: grid;
        justify-content: center;
    }
    }

    .card-carousel{

    }
    /* INDEX */
    /* Index Card Carousel */
    .card-carousel {
        position: relative;
        border-top-right-radius: 40%;
        border-top-left-radius: 40%;
    }

    @media (min-width: 768px) {
    /* Index Card Carousel */

    .card-carousel-inner {
        display: flex;
        overflow: hidden;
        justify-content: space-around;
    }

    .carousel-card-body {
        position: absolute;
        bottom: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .card-carousel-item {
        margin-right: 0;
        flex: 0 0 30%;
        display: block;
    }

    .img-wrapper {
        width: 100%;
        height: 400px;
    }

    .carousel-img-wrapper {
        max-width: 100%;
        height: 500px;
    }

    .why-us {
        text-align: center;
    }

    .why-us-items {
        display: flex;
        justify-content: center;
        gap: 2%;
    }
    }
    /* END INDEX STYLES */

    /* CIRCUIT DISPLAY  */
    @media (min-width: 768px) {
    .presentation {
        padding: 3% 10%;
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    .etape-display {
        height: 100%;
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    .img-presentation {
        width: 100%
    }

    .img-presentation img {
        width: 100%;
    }

    .txt-presentation {
        text-align: justify;
    }

    .flex-bouton {
        text-align: center;
    }


    /* END CIRCUIT DISPLAY */
    /* CIRCUIT CARDS */
    .circuit-card {
        flex: 0 0 31%;
    }

    .fa-heart {
        font-size: 150%;
    }

    .fa-heart.active {
        font-size: 180%;
        color: #ff0000;
    }

    /* END CIRCUIT CARDS*/
    /* GESTION */

    .serveur-section {
        padding: 0% 9%;
    }

    .nav-tabs {
        display: flex;
        justify-content: center;
        margin: 0 9%;
        border-color: #B1CF5F;
    }

    .nav-tabs .nav-link.active{
        border-top-color: #B1CF5F;
        border-right-color: #B1CF5F;
        border-left-color: #B1CF5F;
    }

    .tab-pane-content {
        padding: 0 3%;
        border: solid 1.5px #B1CF5F;
    }


    /* FORMULAIRE DE MODIFICATION */
    /* .update-edit{
position: absolute;
left: 45%;
} */
    /*GESTION CARDS */

    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1% 0;
    }

    .card-image-container {
        text-align: center;
        align-self: center;
    }

    .gestion {
        display: grid;
        justify-items: center;
        align-content: space-between ;
        width: 30%;
        background-color: #fff;
        margin-bottom: 3%;
    }

    /* Card : Gestion specific */

    form.card{
        height: 315px;
        position: relative;
    }
    form.card.gestion button,
    form.card.gestion a {
        cursor: pointer;
    }

    form.card.gestion button.floating {
        width: 2em;
        height: 2em;

        border-radius: 16px;
        padding: 0;
        float: right;
        position: absolute;
        left: 95%;
        top: -5%;
        border: 0;
    }

    /* form.card-gestion button:last-of-type { */
    form.card.gestion a {
        text-decoration: none;
    }

    form.card.gestion img {
        width: 100%;
    }

    section.card-container #AddNewIcon {
        width: 50%;
        border: 1px solid #000;
        border-radius: 4em;
    }

    form.card.gestion .card-text {
        height: 100%;
        /* width: 100%; */
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form.card.gestion .card-text * {
        margin-bottom: 0.5em;
    }

    #Users {
        padding-left: 6%;
    }

    .fa-circle-xmark{
        font-size: 35px;
    }

    table td:last-child {
        display: flex;
    }
}

@media (max-width: 900px) {
    form.card.gestion button.floating {
        margin: -1.8em 1.5em 0 0;
    }
}